{% extends 'blog/base.html' %}

{% block content %}
<div class="favorites-page">
    <h2>Your Favourite Posts</h2>
    <ul class="favorite-list">
        {% if favourites %}
        {% for favourite in favourites %}
        <li>
            <a href="{% url 'blog-detail' favourite.post.id %}">
                {{ favourite.post.title }}
            </a>
            <!-- Form to toggle favourite status -->
            <form action="{% url 'favourite-post' favourite.post.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Unfavourite</button>
            </form>
        </li>
        {% endfor %}
        {% else %}
        <li>You haven't added any favourites yet.</li>
        {% endif %}
    </ul>
</div>
{% endblock %}