/*--------------------------------Reset margin/padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*--------------------------------General Page Styling */
html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #999999, #002f4b); 
    background-size: cover;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;  
    flex-direction: column; 
}

.home-page main, .about-container, .content-section {
    flex-grow: 1; 
    display: flex;  
    flex-direction: column; 
    justify-content: space-between; 
}

.home-page footer {
    position: relative;
    margin-top: auto; 
    flex-shrink: 0;
}

/*--------------------------------Typography */
h1, h2, h3, h4, h5, h6, p {
    color: #222222;
}

ul {
    margin: 0;
}

/*--------------------------------Post Metadata (Date & Username) */
.post-meta, .post-meta a {
    color: #444444;
}

.post-meta a:hover {
    color: #666666; 
}

/*--------------------------------Navbar Styling */
.site-header .navbar {
    max-height: 80px;
    padding: 10px 20px;
    background: linear-gradient(to bottom right, #999999, #002f4b);
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 2px solid #414141;
    box-shadow: 0 4px 8px #424242;
}

.site-header .navbar-nav .nav-link {
    color: #ffffff;
    padding: 10px 15px;
}

.site-header .navbar-nav .nav-link:hover {
    color: #00f7ff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.navbar-logo {
    max-height: 100px; 
    max-width: 150px; 
}

/*--------------------------------For mobile responsiveness */
@media (max-width: 768px) {
    .site-header .navbar {
        flex-direction: column;
        align-items: center;
    }

    .site-header .navbar-brand img {
        max-width: 150px; 
        height: auto;
    }

    .site-header .navbar-toggler {
        background-color: #03e9f4; 
    }

    .navbar-collapse {
        background-color: #002f4b;
    }

    .navbar-collapse .nav-link {
        color: #ffffff; 
        padding: 10px 20px; 
    }

    .navbar-collapse .nav-link:hover {
        color: #03e9f4; 
    }
}

/*--------------------------------Content Section */
.content-section {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start; 
    flex-grow: 1;
}

/*--------------------------------Post Grid Layout */
.posts-grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    width: 100%; /* Use full width */
    padding-bottom: 20px;
}

.post-box {
    background-color: white; 
    color: #222222; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    margin: 10px 0; 
}

.post-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.posts-wrapper {
    width: 100%; 
    padding: 0; 
    margin: 0; 
}

/*--------------------------------Latest Projects Section */
.latest-projects {
    background-color: #d3d3d3; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 94.5%; 
    margin: 10px auto; 
    text-align: left; 
    box-sizing: border-box; 
}

.latest-projects-container {
    margin-top: 20px;
}

/*--------------------------------Responsive adjustments */
@media (max-width: 768px) {
    .content-section {
        flex-direction: column; 
    }

    .latest-projects {
        width: 100%; 
        margin-left: 0; 
        margin-top: 20px; 
    }

    .posts-grid {
        margin-left: 0; 
    }
}

/*--------------------------------About Page Styling */
.about-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    padding-bottom: 20px;
}

/*--------------------------------Article Styling */
.article-title {
    color: #444444;
    margin: 0 0 10px;
}

a.article-title:hover {
    color: #9900ff;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
    margin-bottom: 10px;
}

.article-box {
    display: flex;
    align-items: flex-start;
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

/*--------------------------------Article Metadata */
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    font-size: 13px;
    border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

/*--------------------------------SVG Icon Styling */
.article-svg, svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

/*--------------------------------Account Section */
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    transition: transform 0.3s;
}

.account-heading {
    font-size: 2.5rem;
    transform: scale(1.05);
    color: #222222;
}

.profile-details {
    color: #333333; 
}

/*--------------------------------Authentication Links Styling */
#auth-links {
    position: relative;
    display: inline-block;
    padding: 12px 3px;
    margin: 10px 0;
    color: #03e9f4;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: 5px;
    transition: transform 0.3s, color 0.3s;
    font-size: 1.5rem;
}

#auth-links:hover {
    font-weight: bold;
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    transform: scale(1.1);
}

/*--------------------------------Button Styling */
button {
    font-family: 'Poppins', sans-serif;
    background: none;
    color: #050801;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    opacity: 0.7;
}

button:focus {
    outline: none;
}

/*--------------------------------Card Styling */
.cardd {
    max-width: 700px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background: transparent;

}

/*--------------------------------Profile Image */
#profile-img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

/*--------------------------------Profile Heading */
#profile-h1 {
    font-size: 2rem; 
    font-weight: 600; 
    margin-top: 5px; 
    color: #222; 
    text-align: center;
}

/*--------------------------------Favourites App */
.favorites-page {
    padding: 20px;
    background-color: #f9f9f9;
}

.favorite-list {
    list-style-type: none;
    padding: 0;
}

.favorite-list li {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.favorite-list a {
    text-decoration: none;
    color: #333333;
}

.favorite-list a:hover {
    color: #00f7ff;
}

button {
    background-color: #00f7ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #03e9f4;
}


/*--------------------------------Footer Section */
footer {
    background: linear-gradient(270deg, #d3d3d3, #002f4b);
    color: white; 
    padding: 10px 0;
    text-align: center;
    flex-shrink: 0; 
    width: 100%;
    position: relative; 
    margin-top: auto;
}

footer a {
    color: #ffffff; 
    text-decoration: none; 
    margin: 0 10px; 
}

footer a:hover {
    text-decoration: underline;
    color: #03e9f4;
}

.footer .text-muted {
    color: black !important; 
}