{% extends 'blog/base.html' %}

{% block title %}
About Page
{% endblock %}

{% block content %}
<div class="container about-container">
    <h1>Blog About</h1>
    <p>Welcome to Our Graphic Design Blog!</p>
    <p>At The GFX Blog, we believe that design is more than just aesthetics; it’s about communication, innovation, and
        inspiration. Our blog is dedicated to exploring the world of graphic design, sharing insights, tips, and
        inspiration to help you unleash your creativity.</p>

    <h2>Who We Are</h2>
    <p>We are a team of passionate graphic designers, artists, and writers who share a common love for design. With
        years of experience in the industry, we aim to provide valuable content that resonates with both budding
        designers and seasoned professionals. Our mission is to empower you with knowledge and resources that can
        elevate your design skills and inspire your next project.</p>

    <h2>What We Offer</h2>
    <p>On our blog, you will find:</p>
    <ul>
        <li><strong>Design Tips & Tutorials</strong>: Step-by-step guides to help you improve your design techniques and
            software skills.</li>
        <li><strong>Inspiration</strong>: Curated collections of stunning designs, case studies, and profiles of
            influential designers.</li>
        <li><strong>Industry News</strong>: Stay updated with the latest trends and developments in the graphic design
            world.</li>
        <li><strong>Product Reviews</strong>: Honest reviews of design tools, software, and resources to help you make
            informed decisions.</li>
    </ul>

    <h2>Join Our Community</h2>
    <p>We invite you to join our community of design enthusiasts! Share your thoughts, ask questions, and connect with
        us on social media. Together, let’s explore the ever-evolving world of graphic design.</p>

    <p>Thank you for visiting The GFX Blog. We hope you find inspiration and valuable insights within our content!</p>
</div>
{% endblock content %}