{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header and Navbar Section -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <!-- Logo -->
                <img src="{% static 'media/default.jpg' %}" alt="Logo" style="padding-right: 10px;">
                <g>
                    <!-- Background Shapes -->
                    <g>
                        <path
                            d="m512 45c0-24.853-20.147-45-45-45h-422c-24.853 0-45 20.147-45 45v90c0 8.284 6.716 15 15 15h482c8.284 0 15-6.716 15-15z"
                            fill="#7d81e7" />
                        <path d="m467 0h-211v150h241c8.284 0 15-6.716 15-15v-90c0-24.853-20.147-45-45-45z"
                            fill="#5e69e2" />
                    </g>
                    <!-- Lights Icons -->
                    <g>
                        <path
                            d="m81 82.5h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15z"
                            fill="#fff79f" />
                        <path
                            d="m161 82.5h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15z"
                            fill="#90e36a" />
                        <path
                            d="m241 82.5h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15z"
                            fill="#ff80a7" />
                    </g>
                </g>
                </svg>

                <!-- Navbar Toggler for Mobile View -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Links -->
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'blog-home' %}">HOME</a>
                        <a class="nav-item nav-link" href="{% url 'blog-about' %}">ABOUT</a>
                        {% endif %}
                    </div>

                    <!-- Authentication Links (Right Side) -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <a href="{% url 'blog-new' %}" class="nav-item nav-link" id="auth-links">Post Your Work!</a>
                        <a href="{% url 'profile' %}" class="nav-item nav-link" id="auth-links">Profile!</a>
                        <a href="{% url 'logout' %}" class="nav-item nav-link" id="auth-links">Logout!</a>
                        {% else %}
                        <a href="{% url 'login' %}" class="nav-item nav-link" id="auth-links">Login!</a>
                        <a href="{% url 'register' %}" class="nav-item nav-link" id="auth-links">Register Here!</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content Section -->
    <main role="main" class="container mt-5 pt-5">
        <div class="row">
            <!-- Left Column (Blog Content) -->
            <div class="col-md-8">
                {% if messages %}
                <!-- Display Flash Messages -->
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <!-- Block Content Section -->
                {% block content %}{% endblock %}
            </div>

            <!-- Right Column (Sidebar for Latest Projects) -->
            <div class="col-md-4">
                <div class="content-section">
                    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                        <a id="list-group" href=""
                            class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                            <span class="fs-5 fw-semibold" id="gist-btn">Latest Projects</span>
                        </a>

                        <!-- List of Latest Projects -->
                        <div class="list-group list-group-flush border-bottom scrollarea">
                            <a href="#" class="list-group-item list-group-item-action lh-tight">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">Teaching the Basics of Design... by User</strong>
                                    <small>Wed</small>
                                </div>
                                <div class="col-10 mb-1 small">Design Principles... by User</div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">Practice Makes Perfect... by User</strong>
                                    <small>Tues</small>
                                </div>
                                <div class="col-10 mb-1 small">Graphics Design in Coding... by User</div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">I wanted to be a good designer but... by User</strong>
                                    <small>Mon</small>
                                </div>
                                <div class="col-10 mb-1 small">...</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer Section -->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; 2024 Designers Blog Page. All rights reserved.</span>
        </div>
    </footer>

    <!-- Bootstrap JS and Dependencies -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
</body>

</html>