{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Graphic Design Blog{% endblock %}</title>

    <!-- Styling Links -->
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
</head>

<body class="bg-steel">

    <!-- Navbar Section -->
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{% url 'blog-home' %}">Graphic Design Blog</a>
            <div class="collapse navbar-collapse">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'blog-home' %}">HOME</a>
                <a class="nav-item nav-link" href="{% url 'blog-about' %}">ABOUT</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a href="" id="auth-links">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Create Post
                </a>
                <a href="" id="auth-links">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Profile
                </a>
                <a href="" id="auth-links">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Logout
                </a>
                {% else %}
                <a href="" id="auth-links">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Login
                </a>
                <a href="" id="auth-links">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Register
                </a>
                {% endif %}
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {%  if messages%}
                {% for message in messages %}
                <div class="alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% block content %}
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Latest Projects</h2>
                            {% for posts in Post %}
                            <article class="post">
                                <h3>{{ post.title }}</h3>
                                <p>by {{ post.author }} on {{ post.created_on }}</p>
                                <p>{{ post.content|truncatewords:30 }}</p>
                                <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read more</a>
                            </article>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
                    style="width: 380px; padding-top: 20px;">
                    <a id="list-group" href="#"
                        class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                        <span class="fs-5 fw-semibold" id="gist-btn">Latest Projects</span>
                    </a>
                    <div class="list-group list-group-flush border-bottom scrollarea">
                        <a href="#" class="list-group-item list-group-item-action  lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">Teaching the Basics of Design... by User
                                </strong>
                                <small>Wed</small>
                            </div>
                            <div class="col-10 mb-1 small">Design Principles... by User </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">Practice Makes Perfect... by User</strong>
                                <small class="text-muted">Tues</small>
                            </div>
                            <div class="col-10 mb-1 small">Graphics Desing in Coding... by User</div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">I wanted to be a great designer but...by User</strong>
                                <small class="text-muted">Mon</small>
                            </div>
                            <div class="col-10 mb-1 small">What makes a Good Designer...</div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Footer Section -->
        <footer class="">
            <ul class="nav justify-content-center border-bottom" style="margin-top: 60px;">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="admin/" class="nav-link px-2 text-muted">Admin</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">&copy; Desphixs 2021</p>
        </footer>

    </main>

</body>

</html>