{% extends 'blog/base.html' %}
{% block content %}
  {% for post in posts %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url|default:'media/default.jpg' }}" alt="">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ posts.author }}</a>
        <small class="text-muted">{{ posts.date_posted }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ posts.content|truncatewords:30}}</p>
    </div>
    <br>
  </article>
  <hr>
  {% endfor  %}
{% endblock content %}